.ticket{
    display:flex;
    justify-content: space-evenly;
    padding:10px;
}



.ticket .event-details{
    border:2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:10px;
}

.redirect{
    text-decoration: none;
    border:1px solid black;
    margin-top:10px;
    background-color: rgb(121, 115, 115);
    color:white
}

