.navbar-container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #252D3C;
}

.navbar-container .navbar-logo{
    width:10%;
}

.navbar-container .navbar-logo img {
    width: 100%;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.navbar-container .navbar-links {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
    margin-right: 30px;
}

.navbar-container .navbar-links a {
    text-decoration: none;
    color: #FFFFFF;

}

.navbar-container .button {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
    cursor: pointer;
    color:#FFFFFF
}

.navbar-container .button button {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    color: #E14658;
    cursor: pointer;
}
